// tamaño de pantallas
$mobile: 200px;
$Tablet: 768px;
$Desktop: 1025px;
$Fuente_grande: 'Nunito', sans-serif;
$Fuente_med: OpenSans-Regular;
$fuente_alt: 'Good Foot';
$Heading-size: (4rem, 3.6rem, 3rem);
$Separacion: 5rem;
$blue: #00b8f4;
$orange: #c19a45;
$gray:rgb(231, 231, 231);
