
        .container{
            
            .title{
                :first-child{
                    color: $blue;
                }

                margin-top: 15vh;
                span{
                    font-family: $Fuente_grande;
                    font-weight: 900;
                    font-size: 4rem;
                  }

                h2{
                    font-size: 2rem;
                    font-weight: lighter;
                }
            }
    
            .description{

                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                align-content: center;
                justify-content: center;
    
                border-top: 0.1rem solid #e9e8e8;
                border-bottom: 0.1rem solid #e9e8e8;
                padding: 10px 0px;
                
                p{
                    @include mobile{font-size: 2.4rem;}
                    font-size: 1.5rem;
                    margin-left: 3px;
                }
            }
        }
        

        .cocktails{
            
            display: flex;
            @include mobile{ display: block;}
            margin: 5rem 5rem;
            @include tablet{margin: 5rem 0px;}

            .cocktail-container{
                display: block;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                align-content: center;

                margin: 3rem 0px;
                @include mobile{margin: 5rem 0px;}
                @include tablet{margin-left: auto; margin-right: auto;}
                height: 26rem;

                p{
                    font-size: 1.5rem;
                    position: absolute;
                    margin-top: 28rem;
                    text-align: center;
                    @include tablet{
                        margin-left: 8rem;
                    }

                    @include mobile{
                        margin-left: 10rem;
                    }

                }
                
                    @for $i from 1 through 6 {
                        .back-image#{$i} {
                            width: 26rem;
                            height: 26rem;
                            background: url('../img/Drinks#{$i}.png');
                            background-size: auto 26rem;
                            background-repeat: no-repeat;
                            background-position: center;
                            border-radius: 50%;
                            background-position-y: 0px;
                        }
                    }

                .gradient{
                    position: relative;
                    background: rgb(255,255,255);
                    background: radial-gradient(circle, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 70%);
                    border-radius: 50%;
                    width: 26rem;
                    height: 26rem;
                    margin-top: -26rem;
                }

                .front-image1{
                    position: relative;
                    margin-top: -8rem;
                    margin-right: -5rem;
                    height: 10rem;
                }

                .front-image2{
                    position: relative;
                    margin-top: -11.3rem;
                    margin-right: -.5rem;
                    height: 22.3rem;
                }
                
                .front-image3{
                    position: relative;
                    margin-top: -8rem;
                    height: 11rem;
                }

                .front-image4{
                    position: relative;
                    margin-top: -7.5rem;
                    margin-left: -6rem;
                    height: 10rem;
                }

                .front-image5{
                    position: relative;
                    margin-top: -14.659rem;
                    margin-left: -9rem;
                    height: 1.6rem;
                }

                .front-image6{
                    position: relative;
                    margin-top: -11.1rem;
                    margin-left: -6rem;
                    height:9rem;
                }
                
                .cktail{
                    position: relative;
                    width: 20rem;
                    height: 20rem;
                    overflow: hidden;
                    border-radius: 50%;
                    border:3px solid #fff;

                    margin-top: -23.7rem;
                    img{
                        width: auto;
                        height: 26rem;
                        margin-left: -3rem;
                        margin-top:-3rem ;
                    }
                }
                
            }
        }

